In [2]:
import pandas as pd
import chardet
import seaborn as sns
import plotly.express as px


import matplotlib.pyplot as plt

In [3]:
file_path = r"US_PortCalls_S_ST202209220924_v1.csv"
with open(file_path, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [4]:
# Importing and Touching-up the Data

df_ports = pd.read_csv(file_path,encoding='utf-8')
df_ports['Period Label'] = df_ports['Period Label'].str.replace('   ','-')
df_ports = df_ports.drop(columns=['Period', 'Frequency', 'Frequency Label', 'Economy', 
                                      'CommercialMarket', 'Median time in port (days) Footnote',
                                      'Average age of vessels Footnote', 'Average size (GT) of vessels Footnote',
                                      'Maximum size (GT) of vessels Footnote', 'Average cargo carrying capacity (dwt) per vessel Footnote',
                                      'Maximum cargo carrying capacity (dwt) of vessels Footnote','Average container carrying capacity (TEU) per container ship Footnote',
                                      'Maximum container carrying capacity (TEU) of container ships Footnote'])
df_ports.rename(columns = {'Economy Label': 'Location', 'CommercialMarket Label': 'Vessel_Type', }, inplace=True)
df_ports
df_ports

,Period Label,Year,Location,Vessel_Type,Median time in port (days),Average age of vessels,Average size (GT) of vessels,Maximum size (GT) of vessels,Average cargo carrying capacity (dwt) per vessel,Maximum cargo carrying capacity (dwt) of vessels,Average container carrying capacity (TEU) per container ship,Maximum container carrying capacity (TEU) of container ships
0,S1-2018,2018,World,All ships,0.9700,18,15222,234006,24074.0,441561.0,3526.0,21413.0
1,S1-2018,2018,World,Passenger ships,NaN,21,8978,228081,NaN,NaN,NaN,NaN
2,S1-2018,2018,World,Liquid bulk carriers,0.9400,13,15470,234006,26871.0,441561.0,NaN,NaN
3,S1-2018,2018,World,Container ships,0.6900,13,38405,217673,NaN,NaN,3526.0,21413.0
4,S1-2018,2018,World,Dry breakbulk carriers,1.1200,19,5455,91784,7413.0,138743.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1628,S1-2022,2022,United Kingdom,Dry breakbulk carriers,1.5444,20,3566,48292,4962.0,72927.0,NaN,NaN
1629,S1-2022,2022,United Kingdom,Dry bulk carriers,2.8750,14,25873,107879,44257.0,208445.0,NaN,NaN
1630,S1-2022,2022,United Kingdom,Roll-on/ roll-off ships,NaN,15,24187,100430,9698.0,55828.0,NaN,NaN
1631,S1-2022,2022,United Kingdom,Liquefied petroleum gas carriers,1.1049,12,7012,47922,7626.0,53999.0,NaN,NaN
1632,S1-2022,2022,United Kingdom,Liquefied natural gas carriers,1.2215,8,94300,168189,76612.0,154940.0,NaN,NaN

In [5]:
from dash import Dash

file_path = r"US_PortCalls_S_ST202209220924_v1.csv"
df = pd.read_csv(file_path,encoding='utf-8')
df['Period Label'] = df['Period Label'].str.replace('   ','-')
df = df.drop(columns=['Period', 'Frequency', 'Frequency Label', 'Economy', 
                                      'CommercialMarket', 'Median time in port (days) Footnote',
                                      'Average age of vessels Footnote', 'Average size (GT) of vessels Footnote',
                                      'Maximum size (GT) of vessels Footnote', 'Average cargo carrying capacity (dwt) per vessel Footnote',
                                      'Maximum cargo carrying capacity (dwt) of vessels Footnote','Average container carrying capacity (TEU) per container ship Footnote',
                                      'Maximum container carrying capacity (TEU) of container ships Footnote'])
df.rename(columns = {'Economy Label': 'Location', 'CommercialMarket Label': 'Vessel_Type', }, inplace=True)
df=df[['Period Label','Location','Median time in port (days)','Vessel_Type']]
df

,Period Label,Location,Median time in port (days),Vessel_Type
0,S1-2018,World,0.9700,All ships
1,S1-2018,World,NaN,Passenger ships
2,S1-2018,World,0.9400,Liquid bulk carriers
3,S1-2018,World,0.6900,Container ships
4,S1-2018,World,1.1200,Dry breakbulk carriers
...,...,...,...,...
1628,S1-2022,United Kingdom,1.5444,Dry breakbulk carriers
1629,S1-2022,United Kingdom,2.8750,Dry bulk carriers
1630,S1-2022,United Kingdom,NaN,Roll-on/ roll-off ships
1631,S1-2022,United Kingdom,1.1049,Liquefied petroleum gas carriers
1632,S1-2022,United Kingdom,1.2215,Liquefied natural gas carriers

In [6]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input,Output, State

app = dash.Dash(__name__)

#---------------------------------

file_path = r"US_PortCalls_S_ST202209220924_v1.csv"
df = pd.read_csv(file_path,encoding='utf-8')
df['Period Label'] = df['Period Label'].str.replace('   ','-')
df = df.drop(columns=['Period', 'Frequency', 'Frequency Label', 'Economy', 
                                      'CommercialMarket', 'Median time in port (days) Footnote',
                                      'Average age of vessels Footnote', 'Average size (GT) of vessels Footnote',
                                      'Maximum size (GT) of vessels Footnote', 'Average cargo carrying capacity (dwt) per vessel Footnote',
                                      'Maximum cargo carrying capacity (dwt) of vessels Footnote','Average container carrying capacity (TEU) per container ship Footnote',
                                      'Maximum container carrying capacity (TEU) of container ships Footnote'])
df.rename(columns = {'Economy Label': 'Location', 'CommercialMarket Label': 'Vessel_Type', }, inplace=True)
df=df[['Period Label','Location','Median time in port (days)','Vessel_Type']]
df=df[(df.Vessel_Type== 'Dry breakbulk carriers')]

#------------------------------------


app.layout = html.Div([

    html.Div([
        dcc.Graph(id='port_graph')
    ],className='nine columns'),

    html.Div([

        html.Br(),
        html.Label(['Choose  countries to Compare:'],style={'font-weight': 'bold', "text-align": "center"}),
        dcc.Dropdown(id='country_one',
            options=[{'label':x, 'value':x} for x in df['Location'].unique()],
            value='World',
            multi=False,
            disabled=False,
            clearable=True,
            searchable=True,
            placeholder='Choose country...',
            className='form-dropdown',
            style={'width':"90%"},
            persistence='string',
            persistence_type='memory'),

        dcc.Dropdown(id='country_two',
            options=[{'label':x, 'value':x} for x in df['Location'].unique()],
            value='Netherlands',
            multi=False,
            placeholder='Choose country...',
            clearable=False,
            persistence='string',
            persistence_type='session'),

        dcc.Dropdown(id='country_three',
            options=[{'label':x, 'value':x} for x in df['Location'].unique()],
            value='United Kingdom',
            multi=False,
            clearable=False,
            persistence='string',
            persistence_type='local'),

    ],className='three columns'),

])

#---------------------------------------------------------------

@app.callback(
    Output('port_graph','figure'),
    [Input('first_country','value'),
     Input('second_country','value'),
     Input('third_country','value')]
)

def build_graph(first_country, second_country, third_country):
    df=[(df['Location']==first_country)|
           (df['Location']==second_country)|
           (df['Location']==third_country)]

    fig = px.line(df, x="Period Label", y="Median time in port (days)", color='Location', height=600)
    fig.update_layout(yaxis={'title':'Port Median Time'},




    
                      title={'text':'Port Median Time across semesters',
                      'font':{'size':28},'x':0.5,'xanchor':'center'})
    return fig

#---------------------------------------------------------------

if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: off

C:\Users\rohan\AppData\Local\Temp\ipykernel_19940\572655248.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\rohan\AppData\Local\Temp\ipykernel_19940\572655248.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:8050
Press CTRL+C to quit